/* MEDIUM */
@media screen and (min-width: 768px) {
    /* MAIN HEADER */
    .main_header {
        height: 160px;
    }    
    /* MAIN INFO */
    .main_info {
        height: calc(100% - 160px);
    }
    .new_student {
        order: 3;
    }
    /* OFFCANVAS */
    .ms_offcanvas {
        width: 70% !important;
    }
}

/* LARGE */
@media screen and (min-width: 992px) {
    /* MAIN */
   .main {
       width: calc(100% - 140px);
   }
   /* ASIDE */
   .aside {
       width: 140px;
   }
   /* OFFCANVAS */
   .ms_offcanvas {
    width: 50% !important;
   }
}