/* RESET */
img {
    max-width: 100%;
}

/* ROOT */
:root {
    --background_1: rgb(15, 15, 15);
}

body {
    /* debug */
    background-color: aquamarine;
}

/* COMMON */
.wrapper {
 width: 100%;
 height: calc(100vh - 80px);
}


/* HEADER */
header {
    height: 80px;
}

.search_control {
    height: 50px;
}

#search:focus-visible {
    outline: none;
}


/* MAIN */
/* ASIDE */
.aside {
    height: 100%;
    width: 80px;
    /* debug */
    background-color: burlywood;
}

/* MAIN_SCREEN */
.main {
    width: calc(100% - 80px);
    /* debug */
    background-color: cornflowerblue;
}

/* MAIN_HEADER */
.main_header {
    height: 45%;
    /* debug */
    background-color: darkkhaki;
}

/* MAIN_INFO */
.ms_card_class, .ms_card_todo {
    /* debug */
    background-color: darkgray;
}

.ms_card_faq, .ms_card_graph {
    /* debug */
    background-color: brown;
}

.main_header > div {
    /* DEBUG */
    background-color: blueviolet;
}