/* RESET */
img {
    max-width: 100%;
}

/* ROOT */
:root {
    --background_1: rgb(15, 15, 15);
}

body {
    /* debug */
    background-color: aquamarine;
}

/* COMMON */
.wrapper {
 height: calc(100vh - 80px);
}


/* HEADER */
header {
    height: 80px;
}

.search_control {
    height: 50px;
}

#search:focus-visible {
    outline: none;
}


/* MAIN */
/* ASIDE */
.aside {
    width: 80px;
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* MAIN_SCREEN */
.main {
    width: calc(100% - 80px);
    /* debug */
    background-color: cornflowerblue;
}

/* MAIN_HEADER */
.main_header {
    height: 200px;
    /* debug */
    background-color: darkkhaki;
}

.main_header > div {
    /* DEBUG */
    background-color: blueviolet;
}

/* MAIN INFO */
.main_info {
    height: calc(100% - 200px);
}

.ms_orange_bg {
    background-color: orangered;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.ms_table_text {
    font-size: x-small;
}